In [9]:
# Consider following code to answer further questions: 
import pandas as pd 
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration =  [2,3,6,4] 
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration}) 
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [18]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc and iloc are both methods in the pandas library that allow you to select data from a DataFrame based on indices or labels.

loc is label-based, which means that you have to specify rows and columns based on their row and column labels.

iloc is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df  then find the output for both new_df.loc[2] and new_df.iloc[2]. 

Did you observe any difference in both the outputs? If so then explain it. 
Consider the below code to answer further questions:

In [20]:
import pandas as pd 
import numpy as np 
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6'] 
indices = [1,2,3,4,5,6] 
#Creating a dataframe: 
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.206928  0.379823  0.700039  0.093844  0.173168  0.312451
2  0.779834  0.405520  0.686713  0.032273  0.537427  0.956330
3  0.644711  0.629732  0.397451  0.542364  0.341519  0.493856
4  0.025846  0.510484  0.822377  0.169549  0.608718  0.688975
5  0.795024  0.836941  0.080067  0.863484  0.197543  0.432024
6  0.200635  0.452299  0.665979  0.344088  0.806595  0.433683

In [32]:
new_df = df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.644711  0.629732  0.397451  0.542364  0.341519  0.493856
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.206928  0.379823  0.700039  0.093844  0.173168  0.312451
2  0.779834  0.405520  0.686713  0.032273  0.537427  0.956330

In [30]:
new_df.loc[2]

column_1    0.779834
column_2    0.405520
column_3    0.686713
column_4    0.032273
column_5    0.537427
column_6    0.956330
Name: 2, dtype: float64

In [31]:
new_df.iloc[2]

column_1    0.206928
column_2    0.379823
column_3    0.700039
column_4    0.093844
column_5    0.173168
column_6    0.312451
Name: 1, dtype: float64

We can see the output, there is a difference between the output of both new_df.loc[2] and new_df.iloc[2]

new_df.loc[2] selects the row with label 2 from the DataFrame new_df. the DataFrame was reindexed, the label 2 corresponds to the row that was originally labeled 3 in df1. Thus, the output displays the values for that row.

On the other hand, new_df.iloc[2] selects the row with index position 2 from the DataFrame new_df. Since the DataFrame was reindexed, the row at index position 2 corresponds to the row that was originally at index position 1 in df1. Thus, the output displays the values for that row.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i)  mean of each and every column present in the dataframe. 

(ii) standard deviation of column, ‘column_2’

In [37]:
df1.mean()

column_1    0.442163
column_2    0.535800
column_3    0.558771
column_4    0.340933
column_5    0.444162
column_6    0.552886
dtype: float64

In [38]:
df1['column_2'].std()

0.1722928832331218

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the  mean of column, column_2. 

If you are getting errors in executing it then explain why. 

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [49]:
df1.loc['column_2', 1] = 'hello'

In [50]:
df1['column_2'].mean()

TypeError: Could not convert hellohellohellohellohellohellohello to numeric

To compute mean() of the data, all the data should be of same type and numeric value data. we have added "string" data type in between float data type compiler gets confused and unable to compute mean. because mean of string values is not possible.

Q6. What do you understand about the windows function in pandas and list the types of windows  functions?

The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. As we know we have aggregate functions in SQL which help us to perform mathematical calculations among the columns of a table, similarly windows functions help us to perform aggregated calculations across various partitions or cross-sections of the data.

There is a major difference between the standard aggregate function of SQL and windows functions in Pandas, the aggregate function of SQL returns us a single value after performing the calculation specified in the SQL query. On the other hand, the windows function in Pandas, returns a value for every row of the original table.

Rolling window: Generic fixed or variable sliding window over the values.

Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.

Expanding window: Accumulating window over the values.

Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

In [57]:
current_date = pd.datetime.now()
current_month = current_date.month
current_year = current_date.year

print('current month : ', current_month)
print('current year : ', current_year)

current month :  2
current year :  2023

/tmp/ipykernel_77/3651787306.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and  calculates the difference between them in days, hours, and minutes using Pandas time delta. The  program should prompt the user to enter the dates and display the result.

In [59]:
date1 = input('Enter the first date (YYYY-MM-DD): ')
date2 = input('Enter the second date (YYYY-MM-DD):')

# converting the dates to datestime object
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the difference
diff = date2- date1

# extract number of days hours and minutes
days = diff.days
hours = diff.seconds //3600
minutes = (diff.seconds % 3600) //60

print(f"the difference between {date1.date()} and {date2.date()} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD):  2023-03-12
Enter the second date (YYYY-MM-DD): 2023-04-22

the difference between 2023-03-12 and 2023-04-22 is 41 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified  column to a categorical data type. The program should prompt the user to enter the file path, column  name, and category order, and then display the sorted data.

In [3]:
import pandas as pd
file_path = input('enter the file path : ')
col_name = input('enter the column name : ')
categories = input('enter the category order : ').split(',')

# read csv file
df = pd.read_csv(file_path)

df[col_name] = pd.Categorical(df[col_name], categories=categories, ordered = True)

# # display the data
print(df.sort_values(by=[col_name]))

Q10. Write a Python program that reads a CSV file containing sales data for different products and  visualizes the data using a stacked bar chart to show the sales of each product category over time. The  program should prompt the user to enter the file path and display the chart.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path: ")

# read the CSV file
df = pd.read_csv(file_path)

# create a pivot table to group the data by product category and year
pivot = pd.pivot_table(df, values='month_number', index='total_units', columns='total_profit', aggfunc='sum')

# plot the stacked bar chart
pivot.plot(kind='bar', stacked=True)

# set the chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Year')
plt.ylabel('Sales')

# display the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write  a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and  displays the results in a table.

In [6]:
import pandas as pd
file_path = input('Enter the file path : ')

df = pd.read_csv(file_path)
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# display results in table format
print('+-----------+--------+')
print('| Statistic | Value  |')
print('+-----------+--------+')
print(f'| Mean      | {mean:.1f}  |')
print(f'| Median    | {median}  |')
print(f'| Mode      | {mode}  |')
print('+-----------+--------+')

Enter the file path :  data.csv

+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 83.5  |
| Median    | 85.0  |
| Mode      | [85]  |
+-----------+--------+